.about-us{
    height: 640px;

    display: flex;
    align-items: center;
    justify-content: center;

}

.about-us__wrap{
    width: 1170px;

    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.about-us__img{
    width: 450px;
    height: 450px;
    margin-right: 10px;
}

.about-us__text{
    width: 670px; 
    height: 450px;
    margin-left: 40px;

    display: flex;
    flex-direction: column;
}


@media (max-width: 1220px){
    .about-us__wrap{
        width: 940px;
    }
}