.big-img{
    padding: 4% 4%;

    height: 500px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url(../img/bgOptions.png);
}

.big-img__img{
    width: 940px;
}

@media (max-width: 940px){
    
    .big-img{
        height: auto;
        pa
    }
    
    .big-img__img{
        width: 100%;
        height: auto;
    }

}