.for-cottage{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3% 0;
}

.for-cottage__wrap{
    width: 40%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}