.for-cottage{
    height: 610px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.for-cottage__wrap{
    width:  940px;
    height: 430px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}