.header{
    padding: 0.3em 0;
    height: 50px;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header__wrap{
    width: 1170px;
    padding: 0 3%;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.header__logo{
    height: 45px;
}

.header__nav > ul> li {
    display: inline-flex;

    /* color: #333333; */
}

.header__item-nav {
    color: #333333;    

    font-size: 16px;
    display: block;
    text-transform: uppercase;
    padding: 0.3em 1em;
    text-decoration: none;
}

.header__item-nav::before{
    content: "○"; 
    margin-right: 5px;
}

.telephone::before{
    content: "";
    background-image: url(../img/тел.png);
    background-size: cover;
    height: 25px;
    width: 25px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.div_nav > ul > li> a:hover {
    text-decoration: underline;

}

.ul_nuv{
    font-family: Montserrat, sans-serif;
    color: #333333;
    
    display: inline-flex;
}

.header__menu_button{
    background-image: url(../img/menu.svg);
    background-repeat: no-repeat;
    
    width: 40px;
    height: 40px;
    margin-right: 10px;

    display: none;
}

.header__menu_button:hover{
    cursor: pointer;
}

.header__wrap> div:last-child{
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (max-width: 960px){
    .header_hidden_true{
        display: none;
    }

    .header__menu_button{
        display:flex;
    }
}


@media (max-width: 500px){
    .header{
        height: auto;
    }

    .header__wrap> div:last-child{
        flex-direction: column;
        align-items: center;
    }

    .header__logo{
        height: 30px;
        width: auto;
    }

    .ul_nav{
        margin: 0;
        padding: 0;
    }

    
}