.hosblock {
    height: 640px;
    width: 100%;
    position: relative;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../img/hosBlock.jpg') no-repeat;
   
    background-size: 100% ;
    background-position: 0% 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column-reverse;
}

.hosblock__text-of-view{
    position: relative;
    height: 387px;
    width: 940px;
    font-family: Russo One, sans-serif;

    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 960px){
    
    .hosblock__text-of-view{
        width: 640px;
    }
}

@media (max-width: 900px){
    .hosblock{
        background-size: auto 100% ;
        background-position: 50% 50%;
    }
}

@media (max-width: 650px){
    .hosblock__text-of-view{
        width: 90%;
    }
}


@media (max-width: 650px){
    .hosblock__text-of-view > div:last-child{
        width: 90%;
    }

    .hosblock__text-of-view> div:nth-last-child(2){
        font-size: 17px;
    }
}