.text{
    font-family: Montserrat, sans-serif;
    margin: 0;
}

/* size */

.text_headline_1 { 
    font-size: 4.5rem;
    font-weight: 900;
    font-family: russo one;

    text-align: center;
}

.text_headline_2 {  
    font-size: 3.1rem;

    text-align: center;
}

.text_size_xl {  
    font-size: 1.5rem;
}

.text_size_l {  
    font-size: 1.3rem;
}

.text_size_m {  
    font-size: 1.25rem;
}

.text_size_s{
    font-size: 1.06rem;

}

/* color */

.text_color_white{
    color: white;
    text-decoration: none;
}

.text_color_black{
    color: black;
}

.text_color_orange
{
    color: orange;
}

.text_underlined{
    text-decoration: underline;
    margin-bottom: 0;
    
    padding: 5% 0;
}

@media (max-width: 1220px){
    .text_headline_1 {  
        font-size: 1.5rem;
    }

    /* .text_headline_2 {  
        font-size: 1.1rem;
    } */
}
